.primary-text-display {
	border: solid 1px #eee;
	border-radius: 5px;
	padding: 5px;
	position: relative;
	padding-right: 50px;

	font-size: 20px;
}

.primary-text-display .glyphicon-menu-down {
	position: absolute;
	right: 10px; top: 6px;
	font-size: 27px;
	color: #7b7676;
}

.roomGuest-modal {
	/*display: none;*/
	background-color: #831061;
	padding: 20px;
	border-radius: 20px;
	margin: 20px 0px;
	color: white;
}

button, input {
	color: black;
}

button.close {
	float: none;
	display: block;
	text-align: right;
	color: white;
	opacity: .7;
	margin-bottom: 25px;
	width: 100%;
}
button.close:hover {
	opacity: 1;
}

button:disabled {
	opacity: .4;
}

.room {
	border-top: solid 2px #630a49;
	border-bottom: solid 2px #630a49;
	margin: 20px 0px;
	padding: 10px 20px 20px ;
}
.room h2 { margin: 0px; }

.done {
	text-decoration:line-through;
	opacity: .5;
}

.peopleCount {
	background-color: white;
	display: inline-block;
	width: 50px;
	color: black;
	text-align: center;
	font-size: 14px;
}
.addSubtract {
	margin-right: 10px;
}

.addSubtractAdultsChildren {
	display: flex;
}
.addSubtractAdultsChildren .set {
	width: 30%;
}

.ages  .child {
	width: 50px;
}

.stats {
	margin-bottom: 20px;
	text-align: center; font-size: 20px; color: rgba(255,255,255,.7);
}
.stats b { font-size: 40px; color: white; }

.errorMessage { display: none; }
.showErrors .errorMessage {
	display: block;
}
.showErrors .missing {
	outline: solid 3px red;
}

