.HotelsRoomsGuests {
  font-family: Georgia, serif;
  display: inline-block;
  width: 210px;
  margin-left: 15px;
  /*Had to make upf or check in cehckout discrepancies*/
  margin-right: 24px;
  position: relative;
  top: 1px;
  /*---------------------------
	| Clearfix hack
	---------------------------*/
  /*---------------------------
	| Process and feedback
	---------------------------*/
  /*---------------------------
	| Error Messages
	---------------------------*/
  /*---------------------------
	| Room Guest Modal Popup
	---------------------------*/
}
.HotelsRoomsGuests .cf:before,
.HotelsRoomsGuests .cf:after {
  content: " ";
  display: table;
}
.HotelsRoomsGuests .cf:after {
  clear: both;
}
.HotelsRoomsGuests .cf {
  *zoom: 1;
}
.HotelsRoomsGuests .done {
  text-decoration: line-through;
  opacity: .5;
}
.HotelsRoomsGuests .stats {
  display: none;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}
.HotelsRoomsGuests .stats b {
  font-size: 30px;
  color: black;
}
.HotelsRoomsGuests .content {
  width: 100%;
  margin: auto;
  position: relative;
}
.HotelsRoomsGuests .primary-text-display {
  border: 2px solid #CFD1D7;
  border-radius: 2px;
  padding: 10px;
  position: relative;
  padding-right: 50px;
  font-size: 16px;
  height: 46px;
  font-family: Verdana, Geneva, sans-serif;
}
.HotelsRoomsGuests .primary-text-display .glyphicon-menu-down {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 18px;
  color: #7b7676;
}
.HotelsRoomsGuests .errorMessage {
  display: none;
}
.HotelsRoomsGuests.showErrors .errorMessage {
  display: block;
  font-size: 12px;
}
.HotelsRoomsGuests.showErrors .errorMessage ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.HotelsRoomsGuests.showErrors .errorMessage ul li {
  font-size: 12px;
}
.HotelsRoomsGuests.showErrors .missing {
  outline: solid 3px red;
}
.HotelsRoomsGuests .roomGuest-modal {
  /*display: none;*/
  background-color: #831061;
  padding: 32px 16px 0;
  border-radius: 5px;
  margin: 20px 0px;
  color: white;
  position: absolute;
  top: 37px;
  left: -90px;
  width: 321px;
}
.HotelsRoomsGuests .roomGuest-modal:before {
  content: " ";
  display: block;
  font-size: 0px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #831061;
  /*border-bottom: 10px solid red;*/
  position: absolute;
  right: 10%;
  top: -10px;
}
.HotelsRoomsGuests .roomGuest-modal button,
.HotelsRoomsGuests .roomGuest-modal input {
  color: black;
}
.HotelsRoomsGuests .roomGuest-modal button.close,
.HotelsRoomsGuests .roomGuest-modal input.close {
  position: absolute;
  right: 15px;
  top: 15px;
  display: block;
  color: white;
  opacity: .7;
  width: 22px;
  height: 22px;
  background-image: url('/img/closeLrg.png');
  background-size: contain;
  font-size: 0;
  font-family: Arial, sans-serif;
  font-weight: normal;
}
.HotelsRoomsGuests .roomGuest-modal button.close:focus,
.HotelsRoomsGuests .roomGuest-modal input.close:focus,
.HotelsRoomsGuests .roomGuest-modal button.close:hover,
.HotelsRoomsGuests .roomGuest-modal input.close:hover {
  opacity: 1;
}
.HotelsRoomsGuests .roomGuest-modal button:disabled,
.HotelsRoomsGuests .roomGuest-modal input:disabled {
  opacity: .4;
}
.HotelsRoomsGuests .roomGuest-modal .room {
  margin-bottom: 31px;
}
.HotelsRoomsGuests .roomGuest-modal .room:last-child {
  margin-bottom: 20px;
}
.HotelsRoomsGuests .roomGuest-modal .room .title h1 {
  display: inline;
  margin: 0 15px 0px 0;
  font-size: 18px;
  line-height: 22px;
  color: white;
  font-family: Georgia, serif;
}
.HotelsRoomsGuests .roomGuest-modal .addSubtractAdultsChildren .set.adults {
  margin-top: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.HotelsRoomsGuests .roomGuest-modal .addSubtractAdultsChildren .set.children {
  padding: 10px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.HotelsRoomsGuests .roomGuest-modal .addSubtractAdultsChildren .set label {
  font-family: Verdana, sans-serif;
  font-weight: 400;
  float: left;
  font-size: 14px;
  line-height: 22px;
  color: white;
  margin: 0;
  position: relative;
  top: 2px;
}
.HotelsRoomsGuests .roomGuest-modal .addSubtractAdultsChildren .set .controls {
  float: right;
}
.HotelsRoomsGuests .roomGuest-modal .addSubtractAdultsChildren .set .controls button {
  font-size: 0;
  background-color: transparent;
  outline: none;
  border: none;
  width: 22px;
  height: 22px;
  background-size: contain;
  position: relative;
  top: -3px;
}
.HotelsRoomsGuests .roomGuest-modal .addSubtractAdultsChildren .set .controls button.add {
  background-image: url('/img/plus_sm.png');
}
.HotelsRoomsGuests .roomGuest-modal .addSubtractAdultsChildren .set .controls button.subtract {
  background-image: url('/img/minus_sm.png');
}
.HotelsRoomsGuests .roomGuest-modal .addSubtractAdultsChildren .set .controls .peopleCount {
  display: inline-block;
  width: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-family: Verdana, sans-serif;
  position: relative;
  top: 1px;
}
.HotelsRoomsGuests .roomGuest-modal .addSubtractAdultsChildren .set .ages {
  clear: both;
}
.HotelsRoomsGuests .roomGuest-modal .addSubtractAdultsChildren .set .ages label {
  font-family: Verdana, sans-serif;
  font-weight: 400;
  float: none;
  display: block;
  font-size: 11px;
  line-height: 14px;
}
.HotelsRoomsGuests .roomGuest-modal .addSubtractAdultsChildren .set .ages select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* remove default arrow */
  background-image: url('/img/dropdown.png');
  background-size: 14px 9px;
  background-position: 31px 12px;
  background-repeat: no-repeat;
  display: inline-block;
  color: #333;
  width: 53px;
  height: 32px;
  padding: 0 0 0 8px;
  font-size: 14px;
  line-height: 21px;
  background-color: white;
  border: 1px solid #cdcbcc;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  position: relative;
  margin: 2px 6px 0 0;
  font-size: 11px;
}
.HotelsRoomsGuests .roomGuest-modal .addSubtractAdultsChildren .set .ages select:last-child {
  margin-right: 0;
}
.HotelsRoomsGuests .roomGuest-modal button.roomAdd,
.HotelsRoomsGuests .roomGuest-modal button.roomMinus {
  background-color: transparent;
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 11px;
  line-height: 22px;
  outline: none;
  border: none;
  padding: 5px 5px 5px 0px;
}
.HotelsRoomsGuests .roomGuest-modal button.roomAdd {
  margin-bottom: 12px;
}
.HotelsRoomsGuests .roomGuest-modal .store {
  border-top: 2px solid #610f47;
  padding: 14px;
  margin: 0px -16px;
}
.HotelsRoomsGuests .roomGuest-modal .store button {
  display: block;
  border: solid 2px white;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  background-color: transparent;
  width: 100%;
  color: white;
  font-size: 18px;
  font-family: Verdana, sans-serif;
  opacity: .8;
}
.HotelsRoomsGuests .roomGuest-modal .store button:hover {
  opacity: 1;
}
